ion-title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ion-padding{
  background-image: linear-gradient( to bottom, black, grey);
}


h5{
  text-align: start;
  margin-left: 10px;
}



