ion-title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ion-chip{
  display: flex;
  justify-content: center;
}

ion-label{
  text-align: center;
}

h4{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h5{
  text-align: start;
  margin-left: 10px;
}
ion-item{
  ion-thumbnail{
    img{
      border-radius: 50%;
    }
  }
}

